*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}
/*
  CSS breakpoints 

  max-widht: 599px for mobile
  min-width: 600px for table portrait mode
  min-width: 900px for table landscape mode
  min-width: 1200px for desktop
*/

.episode-container {
  margin: 2% 10%;
}
